*{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: auto;
    align-items: center;
}
.body{
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.head{
    height: 80px;
    width: 100%;
    background-color: rgb(55, 46, 102);
}
.head a{
    background-color:#d4af37;;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 470px;
    margin-top: 25px;
    display: inline-block;
    margin-left: opx;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.head a:hover{
    background-color: white;
    color: rgb(55, 46, 102);
}
#logo{
    height: 70px;
    width: 70px;
    padding: 2px;
    margin-left: 5px;
    float: left;
}
#idea{
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 10px;
    margin-left: 5px;
    float: right;
 
}
#nba{
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 10px;
    margin-left: 5px;
    float: right;
}
#naac{
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 10px;
    float: right;
}
#iic{
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 10px;
    float: right;
}

.heading{
    color: white;
    width: 560px;
    height: 60px;
    padding: 10px;
    margin-left: px;
    border-left: 0px solid black;
    float: left;
}
.heading h1{
    color: white;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.input{
    margin-left: 32.5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 35%;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,15);

}
.input h2{
    padding: 10px;
    padding-right: 5px;
    margin-left:22%;
    display: inline;
    color: rgb(55, 46, 102);
    font-size: 35px;
    font-weight: 800;
    font-family: 'Chakra Petch', sans-serif;
}
.input h3{
    display: inline-block;
    font-size: 25px;
    color: rgb(55, 46, 102);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#reg{
    margin-top: 5%;
}
#dep ,#semester,#reg{
    margin-left: 15%;
    margin-bottom: 5%;
    padding: 15px;
    width: 70%;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: white;
    background: transparent;
    box-shadow: 0 0 5px rgb(55, 46, 102);
}
form button{
    margin-left: 40%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(55, 46, 102) ;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(253, 253, 255);
    color: rgb(55, 46, 102);
    border-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,15);
}
#form option{
    max-width: 50px;
}
@media(width<=800px){
    .head h1{
        font-size: 25px;
    }
    .input{
        width: 400px;
        margin: auto;
        margin-top: 20%;
    }
    .body{
        align-items: center;
    }
    #semester,#dep,#reg{
        font-size: 17px;
        padding: 18px;
    }
    form button{
        font-size: 15px;
        padding: 10px;
    }
    .input h2{
        font-size: 30px;
    }
    .input h3{
        font-size: 20px;
    }
}