.input{
    margin-left: 32.5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 35%;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0,0,0,15);
}
.input h2{
    padding: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: 22%;
    display: block;
    color: rgb(55, 46, 102);
    font-size: 30px;
    font-weight: 500;
    font-family: 'Chakra Petch', sans-serif;
}
#user,#pass{
    padding: 0;
    width: 88%;
    height: 100%;
    border: none;
    outline: none;
    padding-right: 0px;
    background: transparent;
    padding: 15px;
    font-size: 18px ;
}

.input-box{
    margin-left: 15%;
    margin-bottom: 5%;
    height: 50px;
    width: 70%;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: white;
    background: transparent;
    box-shadow: 0 0 5px rgb(55, 46, 102);
}
#top{
    margin-top: 20px;
}
.material-symbols-outlined{
    margin-top: 5px;
    position: relative;
    display: inline-block;
}
#form{
    padding: 10px;
}
form button{
    margin-left: 40%;
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color:rgb(55, 46, 102) ;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(253, 253, 255);
    color: rgb(55, 46, 102);
    border-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,15);
}
#form option{
    max-width: 50px;
}
@media(width<=800px){
    .head h1{
        font-size: 25px;
    }
    .input{
        width: 400px;
        margin: auto;
        margin-top: 20%;
    }
    .body{
        align-items: center;
    }
    #pass,#user{
        font-size: 17px;
        padding: 15px;
    }
    form button{
        font-size: 15px;
        padding: 10px;
    }
    .input h2{
        font-size: 25px;
    }
}